# Variables générales au bot
BOT_TOKEN=''
BOT_PREFIX=''
BOT_NAME=''
GUILD_NAME=''

# Variables pour des salons précis
BOT_LOG_CHANNEL_ID=

# Variables de rôle
BOT_ADMIN_ROLE=''

# Variables API CTS
CTS_TOKEN=''
# Variable API Luxtram
LUXTRAM_TOKEN=''
# Variable API Lyon
TCL_MAIL=''
TCL_PASS=''

# Fonction Stoplist
NBR_STOP_PER_PAGE=

# Fonction Next
DISTANCE_MAX=